BYPASS_SERIAL = true
EYE_SERIAL_DEBUG = false
EYE_FLASK_HOST = 127.0.0.1
EYE_FLASK_PORT = 5051
EYE_SERIAL_HANDSHAKE_ATTEMPTS = 3
EYE_SERIAL_ACK_RETRIES = 3
EYE_SERIAL_ACK_TIMEOUT_S = 1.5
EYE_SERIAL_HANDSHAKE_ATTEMPT_TIMEOUT_S = 6.0
EYE_STREAM_RETRY_DELAY_S = 2.0
